<h1>Edit This Console:</h1>

<form action="/consoles/<%=@console.id%>" method="POST">
  <input type="hidden" name="_method" value="patch">
  <label for=console_name>Console Name:</label>
  <input type="text" name="name" placeholder="<%=@console.name%>" id="console_name">
  <input type="submit" value="Edit Console">
</form>
