<h1><%=@console.name%>'s games!</h1>


<%@console.games.each do |game|%>
  <h3><%=game.name%></h3>
  <p><form method="POST" action="/games/<%=game.id%>/edit">
    <input id="hidden" type="hidden" name="_method">
    <input type="submit" value="Edit Game">
  </form>
  <form method="POST" action="/games/<%=game.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Game">
  </form></p>
<%end%>
