<h2>Sign in to create your game library!</h2>

<form action='/signup' method='POST'>
<label for='username'>Username: </label><br>
<input type="text" name="username" placeholder="desired username" id="username"><br></br>
<label for="password">Password: </label><br>
<input type="password" name="password" placeholder="desired password" id="password"><br></br>
<input type="submit" value="create account">
</form>

<p>Already a member? Log in <a href="/login">here</a></p>
