<h1>Log into your games library</h1><br>

<form action="/login" method="POST">
<label for="username">Username: </label><br></br>
<input type="text" name="username" placeholder="username" id="username"><br></br>
<label for="password">Password: </label><br></br>
<input type="password" name="password" placeholder="password" id="password"><br></br>
<input type="submit" value="login">
</form>

<p>Not a member? Click <a href="/signup">here</a> to sign up!</p>
