<h1> Add a game to your library: </h1>
<form action="/games" method="POST">
<label for="game_name">Name: </label>
<input type="text" name="game[name]" placeholder="Game Name" id="game_name">

<%if current_user.consoles != []%>
<h3>Choose the console this game belongs to:</h3>
<%current_user.consoles.each do |console|%>
  <%=console.name%>
  <input type="radio" name="game[console_id]" value="<%=console.id%>">
  <%end%>
  <h2>or</h2>
<%end%>

<h3>Create the console this game belongs to!</h3>
<label for="game_console">Name: </label>
<input type="text" name="console_name" placeholder="Game Console" id="game_console"><br></br>
<input type="submit" value="create game">
</form>
