<nav>
      <% if logged_in? %>

        <a href="/consoles">Home Page</a>&nbsp;
        <a href="/games/new">Add New Games</a>&nbsp;
        <a href="/logout"> Log Out </a>


      <%end %>

</nav>

<% flash.keys.each do |type| %>
  <div data-alert class="flash <%= type %> alert-box radius">
    <%= flash[type] %>
  </div>
<% end %>

<%=yield%>
